In [1]:
from pyspark.sql import SparkSession,DataFrame
from pyspark.sql.functions import *
from pyspark.sql.types import *
import unicodedata
import re
import utils as utils

In [ ]:
source_db = "landing"
source_table = "aena"
db_name = "trusted"
table_name = "f_ocupacion_hotelera"

In [2]:
spark = utils.create_context()

In [ ]:
@udf(StringType())
def normalize_text(text:str):

    if text is None:
        return ""
    
    # 1. Normalizar (separar letras de tildes)
    texto_normalizado = unicodedata.normalize('NFKD', text)
    
    # 2. Eliminar acentos (caracteres "combining")
    texto_sin_acentos = ''.join(
        c for c in texto_normalizado if not unicodedata.combining(c)
    )
    
    # 3. Eliminar puntuación (todo lo que no sea letra, número o espacio)
    texto_sin_puntuacion = re.sub(r'[^A-Za-z0-9\s]', '', texto_sin_acentos)
    
    # 4. Eliminar espacios extra
    texto_limpio = ' '.join(texto_sin_puntuacion.split())
    
    # 5. Convertir a mayúsculas
    return texto_limpio.upper()

In [ ]:

df = utils.read_iceberg_table(spark,db_name,table_name)

# convert each column to normalized type
df = (
    df
    .replace(float('nan'),None)
    .select(
        col("AÑO").alias("año"),
        col("MES").alias("mes"),
        normalize_text(col("PUNTO_TURISTICO")).alias("puntoTuristico"),
        normalize_text(col("LUGAR_RESIDENCIA")).alias("lugarResidencia"),
        normalize_text(col("PROVINCIA")).alias("provincia"),
        col("VIAJEROS").alias("viajeros").cast(IntegerType()),
        col("PERNOCTACIONES").alias("pernoctaciones").cast(IntegerType()),
        col("ESTANCIA_MEDIA").alias("estanciaMedia").cast(DoubleType()),
        col("ESTABLECIMIENTOS_ESTIMADOS").alias("establecimientosEstimados").cast(IntegerType()),
        col("HABITACIONES_ESTIMADAS").alias("habitacionesEstimadas").cast(IntegerType()),
        col("PLAZAS_ESTIMADAS").alias("plazasEstimadas").cast(IntegerType()),
        col("GRADO_OCUPA_PLAZAS").alias("gradoOcupaPlazas").cast(DoubleType()),
        col("GRADO_OCUPA_PLAZAS_FIN_SEMANA").alias("gradoOcupaPlazasFinSemana").cast(DoubleType()),
        col("GRADO_OCUPA_POR_HABITACIONES").alias("gradoOcupaPorHabitaciones").cast(DoubleType()),
        col("PERSONAL_EMPLEADO").alias("personalEmpleado").cast(IntegerType())
    )
)

# Filter out rows where all the mesures are null

condition = ~((col("viajeros").isNull()) & 
              (col("pernoctaciones").isNull()) & 
              (col("estanciaMedia").isNull()) & 
              (col("establecimientosEstimados").isNull()) & 
              (col("habitacionesEstimadas").isNull()) &
              (col("plazasEstimadas").isNull()) & 
              (col("gradoOcupaPlazas").isNull()) & 
              (col("gradoOcupaPlazasFinSemana").isNull()) & 
              (col("gradoOcupaPorHabitaciones").isNull()) & 
              (col("personalEmpleado").isNull())
              )

df = df.filter(condition=condition)

# Filter out also all the rows where the column viajeros < 0

df = df.filter(col("viajeros") < 0)

In [ ]:
utils.overwrite_iceberg_table(spark,df,db_name,table_name)

In [3]:
df = utils.read_iceberg_table(spark,"local_db","hoteles_punto_turistico")

df.show()

+----+---+----------------+--------------------+--------------------+--------+--------------+--------------+--------------------------+----------------------+----------------+------------------+-----------------------------+----------------------------+-----------------+
| AÑO|MES| PUNTO_TURISTICO|    LUGAR_RESIDENCIA|           PROVINCIA|VIAJEROS|PERNOCTACIONES|ESTANCIA_MEDIA|ESTABLECIMIENTOS_ESTIMADOS|HABITACIONES_ESTIMADAS|PLAZAS_ESTIMADAS|GRADO_OCUPA_PLAZAS|GRADO_OCUPA_PLAZAS_FIN_SEMANA|GRADO_OCUPA_POR_HABITACIONES|PERSONAL_EMPLEADO|
+----+---+----------------+--------------------+--------------------+--------+--------------+--------------+--------------------------+----------------------+----------------+------------------+-----------------------------+----------------------------+-----------------+
|2012|  1|           Adeje|Residentes en España|Santa Cruz de Ten...| 11779.0|       73680.0|          6.26|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|           Adeje|Residentes en el ...|Santa Cruz de Ten...| 88518.0|      799090.0|          9.03|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|           Adeje|               Total|Santa Cruz de Ten...|100297.0|      872770.0|           8.7|                      54.0|                   NaN|         34394.0|             80.31|                         78.9|                       89.63|           6617.0|
|2012|  1|        Albacete|Residentes en España|            Albacete|  8449.0|       11883.0|          1.41|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|        Albacete|Residentes en el ...|            Albacete|   884.0|        1673.0|          1.89|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|        Albacete|               Total|            Albacete|  9333.0|       13556.0|          1.45|                      23.0|                   NaN|          2457.0|             17.79|                        17.75|                       26.14|            260.0|
|2012|  1|      Albarracín|Residentes en España|              Teruel|  1310.0|        2134.0|          1.63|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|      Albarracín|Residentes en el ...|              Teruel|    84.0|          95.0|          1.13|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|      Albarracín|               Total|              Teruel|  1394.0|        2229.0|           1.6|                      21.0|                   NaN|           615.0|             11.66|                        24.64|                       12.65|             39.0|
|2012|  1|       Algeciras|Residentes en España|               Cádiz|  5476.0|        7616.0|          1.39|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|       Algeciras|Residentes en el ...|               Cádiz|  3289.0|        5243.0|          1.59|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|       Algeciras|               Total|               Cádiz|  8765.0|       12859.0|          1.47|                      30.0|                   NaN|          2157.0|             19.22|                        17.65|                       25.93|            160.0|
|2012|  1|Alicante/Alacant|Residentes en España|            Alicante| 17835.0|       32583.0|          1.83|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|Alicante/Alacant|Residentes en el ...|            Alicante| 11249.0|       29417.0|          2.62|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|Alicante/Alacant|               Total|            Alicante| 29084.0|       62000.0|          2.13|                      60.0|                   NaN|          7896.0|             25.25|                        25.14|                       30.75|            687.0|
|2012|  1|         Almería|Residentes en España|             Almería| 11149.0|       16728.0|           1.5|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|         Almería|Residentes en el ...|             Almería|  2431.0|        5467.0|          2.25|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|         Almería|               Total|             Almería| 13580.0|       22195.0|          1.63|                      22.0|                   NaN|          2601.0|             27.45|                        31.12|                       36.14|            292.0|
|2012|  1|       Antequera|Residentes en España|              Málaga|     NaN|           NaN|           NaN|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
|2012|  1|       Antequera|Residentes en el ...|              Málaga|     NaN|           NaN|           NaN|                       NaN|                   NaN|             NaN|               NaN|                          NaN|                         NaN|              NaN|
+----+---+----------------+--------------------+--------------------+--------+--------------+--------------+--------------------------+----------------------+----------------+------------------+-----------------------------+----------------------------+-----------------+
only showing top 20 rows