In [1]:
from pyspark.sql import SparkSession,DataFrame
from pyspark.sql.functions import *
from pyspark.sql.types import *
import unicodedata
import re
import utils as utils

In [8]:
source_db = "landing"
source_table = "hoteles_punto_turistico"
db_name = "trusted"
table_name = "f_ocupacion_hotelera"

In [3]:
spark = utils.create_context()

In [4]:
@udf(StringType())
def normalize_text(text:str):

    if text is None:
        return ""
    
    # 1. Normalizar (separar letras de tildes)
    texto_normalizado = unicodedata.normalize('NFKD', text)
    
    # 2. Eliminar acentos (caracteres "combining")
    texto_sin_acentos = ''.join(
        c for c in texto_normalizado if not unicodedata.combining(c)
    )
    
    # 3. Eliminar puntuación (todo lo que no sea letra, número o espacio)
    texto_sin_puntuacion = re.sub(r'[^A-Za-z0-9\s]', '', texto_sin_acentos)
    
    # 4. Eliminar espacios extra
    texto_limpio = ' '.join(texto_sin_puntuacion.split())
    
    # 5. Convertir a mayúsculas
    return texto_limpio.upper()

In [ ]:

df = utils.read_iceberg_table(spark,source_db,source_table)

# convert each column to normalized type
df = (
    df
    .replace(float('nan'),None)
    .select(
        col("AÑO").alias("año"),
        col("MES").alias("mes"),
        normalize_text(col("PUNTO_TURISTICO")).alias("puntoTuristico"),
        normalize_text(col("LUGAR_RESIDENCIA")).alias("lugarResidencia"),
        normalize_text(col("PROVINCIA")).alias("provincia"),
        col("VIAJEROS").alias("viajeros").cast(IntegerType()),
        col("PERNOCTACIONES").alias("pernoctaciones").cast(IntegerType()),
        col("ESTANCIA_MEDIA").alias("estanciaMedia").cast(DoubleType()),
        col("ESTABLECIMIENTOS_ESTIMADOS").alias("establecimientosEstimados").cast(IntegerType()),
        col("HABITACIONES_ESTIMADAS").alias("habitacionesEstimadas").cast(IntegerType()),
        col("PLAZAS_ESTIMADAS").alias("plazasEstimadas").cast(IntegerType()),
        col("GRADO_OCUPA_PLAZAS").alias("gradoOcupaPlazas").cast(DoubleType()),
        col("GRADO_OCUPA_PLAZAS_FIN_SEMANA").alias("gradoOcupaPlazasFinSemana").cast(DoubleType()),
        col("GRADO_OCUPA_POR_HABITACIONES").alias("gradoOcupaPorHabitaciones").cast(DoubleType()),
        col("PERSONAL_EMPLEADO").alias("personalEmpleado").cast(IntegerType())
    )
)

# Filter out rows where all the mesures are null



condition = ~((col("viajeros").isNull()) & 
              (col("pernoctaciones").isNull()) & 
              (col("estanciaMedia").isNull()) & 
              (col("establecimientosEstimados").isNull()) & 
              (col("habitacionesEstimadas").isNull()) &
              (col("plazasEstimadas").isNull()) & 
              (col("gradoOcupaPlazas").isNull()) & 
              (col("gradoOcupaPlazasFinSemana").isNull()) & 
              (col("gradoOcupaPorHabitaciones").isNull()) & 
              (col("personalEmpleado").isNull())
              )

df = df.filter(condition=condition)

# Filter out also all the rows where the column viajeros < 0 

df = df.filter(col("viajeros") > 0)

+----+---+--------------------+--------------------+--------------------+--------+--------------+-------------+-------------------------+---------------------+---------------+----------------+-------------------------+-------------------------+----------------+
| año|mes|      puntoTuristico|     lugarResidencia|           provincia|viajeros|pernoctaciones|estanciaMedia|establecimientosEstimados|habitacionesEstimadas|plazasEstimadas|gradoOcupaPlazas|gradoOcupaPlazasFinSemana|gradoOcupaPorHabitaciones|personalEmpleado|
+----+---+--------------------+--------------------+--------------------+--------+--------------+-------------+-------------------------+---------------------+---------------+----------------+-------------------------+-------------------------+----------------+
|2012|  1|               ADEJE|RESIDENTES EN ESPANA|SANTA CRUZ DE TEN...|   11779|         73680|         6.26|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|               ADEJE|RESIDENTES EN EL ...|SANTA CRUZ DE TEN...|   88518|        799090|         9.03|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|               ADEJE|               TOTAL|SANTA CRUZ DE TEN...|  100297|        872770|          8.7|                       54|                 NULL|          34394|           80.31|                     78.9|                    89.63|            6617|
|2012|  1|            ALBACETE|RESIDENTES EN ESPANA|            ALBACETE|    8449|         11883|         1.41|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|            ALBACETE|RESIDENTES EN EL ...|            ALBACETE|     884|          1673|         1.89|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|            ALBACETE|               TOTAL|            ALBACETE|    9333|         13556|         1.45|                       23|                 NULL|           2457|           17.79|                    17.75|                    26.14|             260|
|2012|  1|          ALBARRACIN|RESIDENTES EN ESPANA|              TERUEL|    1310|          2134|         1.63|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|          ALBARRACIN|RESIDENTES EN EL ...|              TERUEL|      84|            95|         1.13|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|          ALBARRACIN|               TOTAL|              TERUEL|    1394|          2229|          1.6|                       21|                 NULL|            615|           11.66|                    24.64|                    12.65|              39|
|2012|  1|           ALGECIRAS|RESIDENTES EN ESPANA|               CADIZ|    5476|          7616|         1.39|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|           ALGECIRAS|RESIDENTES EN EL ...|               CADIZ|    3289|          5243|         1.59|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|           ALGECIRAS|               TOTAL|               CADIZ|    8765|         12859|         1.47|                       30|                 NULL|           2157|           19.22|                    17.65|                    25.93|             160|
|2012|  1|     ALICANTEALACANT|RESIDENTES EN ESPANA|            ALICANTE|   17835|         32583|         1.83|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|     ALICANTEALACANT|RESIDENTES EN EL ...|            ALICANTE|   11249|         29417|         2.62|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|     ALICANTEALACANT|               TOTAL|            ALICANTE|   29084|         62000|         2.13|                       60|                 NULL|           7896|           25.25|                    25.14|                    30.75|             687|
|2012|  1|             ALMERIA|RESIDENTES EN ESPANA|             ALMERIA|   11149|         16728|          1.5|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|             ALMERIA|RESIDENTES EN EL ...|             ALMERIA|    2431|          5467|         2.25|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|             ALMERIA|               TOTAL|             ALMERIA|   13580|         22195|         1.63|                       22|                 NULL|           2601|           27.45|                    31.12|                    36.14|             292|
|2012|  1|ARCOS DE LA FRONTERA|RESIDENTES EN ESPANA|               CADIZ|    1017|          1546|         1.52|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
|2012|  1|ARCOS DE LA FRONTERA|RESIDENTES EN EL ...|               CADIZ|     451|           918|         2.04|                     NULL|                 NULL|           NULL|            NULL|                     NULL|                     NULL|            NULL|
+----+---+--------------------+--------------------+--------------------+--------+--------------+-------------+-------------------------+---------------------+---------------+----------------+-------------------------+-------------------------+----------------+
only showing top 20 rows

In [16]:
utils.overwrite_iceberg_table(spark,df,db_name,table_name)